DB_NAME=postgres
DB_USER=postgres
DB_PASSWORD=1065372454Jd
DB_HOST=db.gvivtfzxsvvilgzziipr.supabase.co
DB_PORT=5432
SECRET_KEY=django-insecure-gg3$#ou6u=%v26r4ci*k8g84tfp98y)vwvgn5b3=(*g9&g7b)%
DEBUG=True
